body {
    height : 100vh ;
    overflow: hidden;
    display : flex ;
    flex-direction : column ;
    align-items: center;
    justify-content:center;
    font-family: Verdana,Geneva,sans-serif; 
    cursor: pointer;

    --color-text: #7bbacf ;
}

button {
    border: 2px solid var(--color-text);
    color : var(--color-text); ;
    background : none ;
    cursor: pointer;
    border-radius: 5px ;
    font-size: 1.1em ;
    padding: 10px ;
    margin: 10px ;
    min-width: 150px ;
}

button:hover {
    background-color : var(--color-text);
    color : white ;
}

#menu-btns {
    display: flex ;
    justify-content: center ;
}

h1 {
    font-size: 2.5em ;
    max-width: 80vw ;
    text-align : center ;
}

h2 {
    text-align : center ;
    color : var(--color-text) ;
}

#logo {
    max-height : 20em ;
}

#input_file {
    display : none ;
}

#menu_upload {
    display : flex ;
    /* Elements of menu upload are verically placed and centered */
    flex-direction : column ;
    align-items: center ;
}

#menu_upload img {
    max-width : 400px ;
}

#menu_upload_label {
    color: var(--color-text) ;
    font-size : 1.5em ;
    text-align : center ;
}

#qrcode {
    margin : 20px ;
}

p {
    text-align : center ;
    font-weight: bold;
}

a {
    color : var(--color-text); ;
    text-decoration: none ;
    margin-top : 10px;
    margin-bottom : 20px ;
}

#input_file {
    display: none ;
}