body {
    height : 100vh ;
    overflow: hidden;
    display : flex ;
    flex-direction : column ;
    align-items: center;
    justify-content:center;
    background-color: black ;  
    color : greenyellow ;    
    font-family: Verdana,Geneva,sans-serif; 
}

#menu-btns {
    display: flex ;
    justify-content: center ;
}

h2 {
    text-align : center ;
    color : greenyellow ;
}

#logo {
    max-height : 20em ;
}

#input_file {
    display : none ;
}

#menu_upload {
    display : flex ;
    /* Elements of menu upload are verically placed and centered */
    flex-direction : column ;
    align-items: center ;
}

#menu_upload img {
    max-width : 400px ;
}

#menu_upload_label {
    font-size : 1.5em ;
    text-align : center ;
}

p {
    text-align : center ;
    font-weight: bold;
}

a {
    color : #adff2f ;
    text-decoration: none ;
    margin-top : 10px;
    margin-bottom : 20px ;
}

button {
    border: 2px solid greenyellow;
    color : greenyellow ;
    background : none ;
    cursor: pointer;
    border-radius: 5px ;
    font-size: 1em ;
    padding: 10px ;
    margin: 10px ;
    min-width: 150px ;
}

button:hover {
    background-color : greenyellow ;
    color : black ;
}

#qrcode {
    margin : 20px ;
}